---
import DefaultLayout from "~/layouts/default.astro"
import PxArtGame from "~/components/games/px-art-game"
---

<DefaultLayout title="PxArt • Gianni Tumedei" description="Make pixel art images.">
  <h1 class="text-4xl font-bold tracking-wider mb-6">Px Art</h1>
  <PxArtGame client:only="solid-js" />
</DefaultLayout>
