/* Buttons */

.btn { @apply
  px-8 py-3 rounded-xl !outline-none
  inline-flex justify-center items-center gap-4
  border-2 border-transparent
  text-sm font-bold text-base bg-primary shadow-md
  transition-all
  hover:shadow-xl
  focus:bg-primary-dark
  active:shadow-md;

  &:disabled { @apply
    opacity-40 shadow-none cursor-not-allowed;
  }

  &.inverted { @apply
    text-inverted-base bg-inverted-primary
    focus:bg-inverted-primary-dark;
  }

  &.accent { @apply
    text-inverted-base bg-accent;

    &:disabled { @apply
      bg-inverted-primary;
    }
  }

  &.light { @apply
    text-black-80 bg-primary-100
    focus:bg-primary-200;
  }

  &.dark { @apply
    text-white-100 bg-primary-700
    focus:bg-primary-800;
  }

  &.transparent { @apply
    bg-transparent !shadow-none
    hover:bg-typography-hover
    focus:bg-typography-hover
    active:bg-typography-divider;
  }

  &.icon { @apply
    p-2 !shadow-none bg-transparent
    hover:bg-accent-10 hover:text-accent
    focus:bg-accent-10 focus:text-accent
    active:bg-accent-20 active:text-accent;
  }

  &.fab { @apply
    p-4;
  }
}

/* Form elements */

fieldset { @apply
  relative flex flex-col;

  label { @apply
    text-sm font-bold ml-1 mb-1;
  }

  & > .icon { @apply
    absolute bottom-[7px] left-[7px]
    bg-primary-dark h-9 w-9 p-2 rounded-xl
    pointer-events-none transition-colors;
  }

  &:focus-within > .icon { @apply
    bg-accent-10 text-accent;
  }

  .icon + input, .icon + textarea { @apply
    pl-14;
  }
}

input, textarea { @apply
  bg-transparent rounded-xl px-4 py-3 outline-none
  border border-typography-hover hover:border-accent focus:border-accent
  transition-all resize-none;
}

/* Typography */

.section-heading { @apply
  text-4xl font-bold tracking-wider;
}

.section-subheading { @apply
  text-xl font-bold tracking-wider;
}

/* Cards */

.card { @apply
  p-6 bg-primary rounded-xl shadow-xl overflow-hidden;
}

/* Tooltips */

[data-tippy-root] { @apply
  max-w[calc(100vw-10px)];
}

.tippy-box { @apply
  relative text-sm whitespace-normal outline-none transition-all
  bg-inverted-primary text-inverted-typography-base rounded-md;

  &[data-animation=fade][data-state=hidden] { @apply
    opacity-0;
  }

  .tippy-content { @apply
    relative z-10 px-3 py-1.5;
  }
}