@import "./themes.css";
@import "./components.postcss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Lato:wght@300;400;700&display=swap");

html, body, #app { @apply
  h-full m-0 p-0
  font-sans text-base;
}

html.dark { @apply
  bg-primary;
}

#app { @apply
  flex flex-col items-center;
}

* {
  -webkit-tap-highlight-color: transparent;
}
