@import "./themes.css";

html { @apply
  min-h-full m-0 p-0
  bg-primary
  font-mono text-neutral;
}

html.theme-dark {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html:not(.theme-light) {
    color-scheme: dark;
  }
}

body { @apply
  m-0 p-0 flex flex-col items-center;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { @apply
  font-serif;
}

/* Transitions */

.fade-enter, .fade-exit-to { @apply
  opacity-0;
}

.fade-enter-active, .fade-exit-active { @apply
  transition-opacity;
}

/* Tooltips */

[data-tippy-root] { @apply
  max-w-[calc(100vw-10px)];
}

.tippy-box { @apply
  relative text-sm whitespace-normal outline-none transition-all
  bg-inverted-primary text-inverted-neutral rounded-md;

  &[data-animation=fade][data-state=hidden] { @apply
    opacity-0;
  }

  .tippy-content { @apply
    relative z-10 px-3 py-1.5;
  }
}
