@import "./themes.css";
@import "./utilities.postcss";
@import "./components.postcss";
@import "./transitions.postcss";

html, body, #app { @apply
  min-h-full m-0 p-0
  bg-primary
  font-sans text-base;
}

html.dark {
  color-scheme: dark;
}

#app { @apply
  flex flex-col items-center;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { @apply
  font-serif;
}