@import "./themes.postcss";
@import "./components.postcss";
@import "./markdown.postcss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Nunito:wght@300;400;600;700&display=swap");

html, body, #app { @apply
  h-full m-0 p-0
  font-sans;
}

html.dark { @apply
  bg-primary;
}

#app { @apply
  flex flex-col items-center;
}
