:root {
  /* Base colors */

  --color-base-100: 255 255 255;
  --color-base-200: 247 247 247;
  --color-base-700: 48 48 48;
  --color-base-800: 38 38 38;

  --color-blue: 0 145 234;
  --color-light-blue: 79 195 247;

  --color-orange: 255 138 101;
  --color-light-orange: 239 154 154;

  --color-teal: 0 191 165;
  --color-light-teal: 100 255 218;

  --color-pink: 236 64 122;
  --color-light-pink: 249 168 212;

  /* Dynamic light theme colors */

  --color-base: var(--color-base-100);
  --color-base-focus: var(--color-base-200);

  --color-inverted-base: var(--color-base-800);
  --color-inverted-base-focus: var(--color-base-700);

  --color-content: 0 0 0;
  --color-inverted-content: 255 255 255;

  --color-accent: var(--color-blue);
}

/* Dynamic light theme accent colors */

.accent-blue {
  --color-accent: var(--color-blue);
}

.accent-orange {
  --color-accent: var(--color-orange);
}

.accent-teal {
  --color-accent: var(--color-teal);
}

.accent-pink {
  --color-accent: var(--color-pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dynamic dark theme colors */

    --color-base: var(--color-base-800);
    --color-base-focus: var(--color-base-700);

    --color-inverted-base: var(--color-base-100);
    --color-inverted-base-focus: var(--color-base-200);

    --color-content: 255 255 255;
    --color-inverted-content: 0 0 0;

    --color-accent: var(--color-light-blue);
  }

  /* Dynamic dark theme accent colors */

  .accent-blue {
    --color-accent: var(--color-light-blue);
  }

  .accent-orange {
    --color-accent: var(--color-light-orange);
  }

  .accent-teal {
    --color-accent: var(--color-light-teal);
  }

  .accent-pink {
    --color-accent: var(--color-light-pink);
  }
}

/* Manual light theme colors */

.theme-light {
  --color-base: var(--color-base-100) !important;
  --color-base-focus: var(--color-base-200) !important;

  --color-inverted-base: var(--color-base-800) !important;
  --color-inverted-base-focus: var(--color-base-700) !important;

  --color-content: 0 0 0 !important;
  --color-inverted-content: 255 255 255 !important;

  /* Manual light theme accent colors */

  &.accent-blue,
  .accent-blue {
    --color-accent: var(--color-blue);
  }

  &.accent-orange,
  .accent-orange {
    --color-accent: var(--color-orange);
  }

  &.accent-teal,
  .accent-teal {
    --color-accent: var(--color-teal);
  }

  &.accent-pink,
  .accent-pink {
    --color-accent: var(--color-pink);
  }
}

.theme-dark {
  /* Manual dark theme colors */

  --color-base: var(--color-base-800) !important;
  --color-base-focus: var(--color-base-700) !important;

  --color-inverted-base: var(--color-base-100) !important;
  --color-inverted-base-focus: var(--color-base-200) !important;

  --color-content: 255 255 255 !important;
  --color-inverted-content: 0 0 0 !important;

  --color-accent: var(--color-light-blue) !important;

  /* Manual dark theme accent colors */

  &.accent-blue,
  .accent-blue {
    --color-accent: var(--color-light-blue);
  }

  &.accent-orange,
  .accent-orange {
    --color-accent: var(--color-light-orange);
  }

  &.accent-teal,
  .accent-teal {
    --color-accent: var(--color-light-teal);
  }

  &.accent-pink,
  .accent-pink {
    --color-accent: var(--color-light-pink);
  }
}
