:root {
  /* Base colors */

  --color-primary-100: #FFFFFF;
  --color-primary-200: #F7F7F7;
  --color-primary-700: #303030;
  --color-primary-800: #262626;

  /* --color-accent: #00BFA5;
  --color-accent-20: rgba(0, 191, 165, 0.2);
  --color-accent-10: rgba(0, 191, 165, 0.1); */
  /* --color-accent: #EF9A9A;
  --color-accent-20: rgba(239, 154, 154, 0.2);
  --color-accent-10: rgba(239, 154, 154, 0.1); */
  --color-accent: #42A5F5;
  --color-accent-20: rgba(66, 165, 245, 0.2);
  --color-accent-10: rgba(66, 165, 245, 0.1);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-12: rgba(255, 255, 255, 0.12);
  --color-white-8: rgba(255, 255, 255, 0.08);

  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-black-54: rgba(0, 0, 0, 0.54);
  --color-black-38: rgba(0, 0, 0, 0.38);
  --color-black-12: rgba(0, 0, 0, 0.12);
  --color-black-8: rgba(0, 0, 0, 0.08);

  /* Light theme colors */

  --color-primary: var(--color-primary-100);
  --color-primary-dark: var(--color-primary-200);

  --color-typography-base: var(--color-black-80);
  --color-typography-secondary: var(--color-black-54);
  --color-typography-faded: var(--color-black-38);
  --color-typography-icon: var(--color-black-54);
  --color-typography-divider: var(--color-black-12);
  --color-typography-hover: var(--color-black-8);

  --color-inverted-primary: var(--color-primary-700);
  --color-inverted-primary-dark: var(--color-primary-800);

  --color-inverted-typography-base: var(--color-white-100);
  --color-inverted-typography-secondary: var(--color-white-70);
  --color-inverted-typography-faded: var(--color-white-50);
  --color-inverted-typography-icon: var(--color-white-100);
  --color-inverted-typography-divider: var(--color-white-12);
  --color-inverted-typography-hover: var(--color-white-8);
}

.theme-dark {
  /* Dark theme colors */

  --color-primary: var(--color-primary-700);
  --color-primary-dark: var(--color-primary-800);

  --color-typography-base: var(--color-white-100);
  --color-typography-secondary: var(--color-white-70);
  --color-typography-faded: var(--color-white-50);
  --color-typography-icon: var(--color-white-100);
  --color-typography-divider: var(--color-white-12);
  --color-typography-hover: var(--color-white-8);

  --color-inverted-primary: var(--color-primary-100);
  --color-inverted-primary-dark: var(--color-primary-200);

  --color-inverted-typography-base: var(--color-black-80);
  --color-inverted-typography-secondary: var(--color-black-54);
  --color-inverted-typography-faded: var(--color-black-38);
  --color-inverted-typography-icon: var(--color-black-54);
  --color-inverted-typography-divider: var(--color-black-12);
  --color-inverted-typography-hover: var(--color-black-8);
}
