---
export const prerender = true

import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout title="Page Not Found">
  <div class="h-full flex flex-col justify-center items-center text-center m-auto">
    <h2 class="text-content-12 font-mono text-12xl">404</h2>
    <h1 class="section-heading mb-12">Page not found</h1>
    <a href="/" class="btn btn-accent w-44">Go Home</a>
  </div>
</DefaultLayout>
