---
import AppHead from "~/components/ui/app-head.astro"
import AppLayout from "~/components/ui/app-layout.astro"
import ContactPage from "~/components/contact-page"
---

<html lang="en">
  <head>
    <AppHead />
    <title>Contact • Gianni Tumedei</title>
  </head>
  <body>
    <AppLayout>
      <ContactPage client:idle />
    </AppLayout>
  </body>
</html>
