---
import AppHead from "~/components/ui/app-head.astro"
import AppLayout from "~/components/ui/app-layout.astro"
import HomePage from "~/components/home-page"
---

<html lang="en">
  <head>
    <AppHead />
    <title>Gianni Tumedei</title>
  </head>
  <body>
    <AppLayout showBackButton={false}>
      <HomePage client:idle />
    </AppLayout>
  </body>
</html>
