---
import DefaultLayout from "~/layouts/default.astro"
---

<DefaultLayout title="Portfolio • Gianni Tumedei">
  <h1>Portfolio</h1>
  <!-- <script>
    window.location.href = "https://www.google.com"
  </script> -->
</DefaultLayout>
