---
import AppHead from "~/components/ui/app-head.astro"
---

<html lang="en">
  <head>
    <AppHead />
    <title>Portfolio • Gianni Tumedei</title>
  </head>
  <body>
    <h1>Portfolio</h1>
    <!-- <script>
      window.location.href = "https://www.google.com"
    </script> -->
  </body>
</html>
