@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@import "./minigames/racing-icon/style.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #f3f4f6;
  --color-on-base: #1f2937;
  --color-neutral: #27272a;
  --color-on-neutral: #ffffff;
  --color-accent-blue: #3b82f6;
  --color-accent-orange: "#FF8A65";
  --color-accent-teal: #14b8a6;
  --color-accent-pink: #ec4899;
  --color-accent: #3b82f6;
  --color-on-accent: #ffffff;
  --color-info: #0ea5e9;
  --color-on-info: #ffffff;
  --color-success: #10b981;
  --color-on-success: #ffffff;
  --color-warning: #f59e0b;
  --color-on-warning: #ffffff;
  --color-error: #f43f5e;
  --color-on-error: #ffffff;
}

@utility theme-light {
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #f3f4f6;
  --color-on-base: #1f2937;
  --color-neutral: #27272a;
  --color-on-neutral: #ffffff;
  --color-accent-blue: #3b82f6;
  --color-accent-orange: #ff8a65;
  --color-accent-teal: #14b8a6;
  --color-accent-pink: #ec4899;
  --color-on-accent: #ffffff;
  --color-info: #0ea5e9;
  --color-on-info: #ffffff;
  --color-success: #10b981;
  --color-on-success: #ffffff;
  --color-warning: #f59e0b;
  --color-on-warning: #ffffff;
  --color-error: #f43f5e;
  --color-on-error: #ffffff;
}

@utility theme-dark {
  --color-base-100: #171717;
  --color-base-200: #262626;
  --color-base-300: #303030;
  --color-on-base: #ffffff;
  --color-neutral: #f3f4f6;
  --color-on-neutral: #1f2937;
  --color-accent-blue: #93c5fd;
  --color-accent-orange: #ef9a9a;
  --color-accent-teal: #6ee7b7;
  --color-accent-pink: #f9a8d4;
  --color-on-accent: #000000;
  --color-info: #7dd3fc;
  --color-on-info: #075985;
  --color-success: #6ee7b7;
  --color-on-success: #065f46;
  --color-warning: #fcd34d;
  --color-on-warning: #92400e;
  --color-error: #fda4af;
  --color-on-error: #9f1239;
}

@layer base {
  html {
    @apply bg-base-100 text-on-base;
  }

  [data-theme="light"] {
    @apply theme-light;
    color-scheme: light;
  }

  [data-theme="dark"] {
    @apply theme-dark;
    color-scheme: dark;
  }

  [data-accent="blue"] {
    --color-accent: var(--color-accent-blue);
  }

  [data-accent="orange"] {
    --color-accent: var(--color-accent-orange);
  }

  [data-accent="teal"] {
    --color-accent: var(--color-accent-teal);
  }

  [data-accent="pink"] {
    --color-accent: var(--color-accent-pink);
  }

  .prose {
    @apply text-on-base! prose-p:text-on-base/70! prose-headings:text-on-base! prose-lead:text-on-base/80! prose-a:text-accent! prose-a:no-underline! hover:prose-a:underline! prose-strong:text-on-base! prose-em:text-on-base! prose-blockquote:border-on-base/20! prose-ol:text-on-base/70! prose-ul:text-on-base/70! prose-li:text-on-base/70! prose-li:marker:text-on-base/60! prose-code:text-on-base! prose-pre:bg-base-200! prose-pre:border prose-pre:border-on-base/5 prose-hr:border-on-base/10! prose-thead:border-on-base/15! prose-tr:border-on-base/10! prose-td:text-on-base/70! prose-figcaption:text-on-base/70! prose-kbd:bg-on-base/5! prose-kbd:text-on-base! prose-kbd:border prose-kbd:border-on-base/5 prose-kbd:shadow-none!;
  }

  * {
    @apply outline-offset-1 outline-accent/20;
  }
}

/* Fonts */

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-serif: "DM Serif Display", serif;
  --font-dotted: "Bitcount Single", sysem-ui;
  --font-pixelated: "Bytesized", sans-serif;
}

@utility font-heading {
  @apply font-serif font-bold tracking-wider;
}

[data-style="dotted"] {
  .font-heading {
    @apply font-dotted uppercase font-light tracking-wide [word-spacing:-0.25em] translate-y-0.75;
  }
}

[data-style="pixelated"] {
  .font-heading {
    @apply font-pixelated uppercase font-normal tracking-wide [word-spacing:-0.2em];
  }
}

@utility focus-ring {
  @apply border border-transparent focus-visible:border-neutral/20 focus-visible:ring focus-visible:ring-neutral/10 outline-none;
}

@utility tall-lines {
  @apply [line-height:1.8em];
}

@utility header-pill {
  @apply bg-base-200/90 group-data-wallpaper/html:bg-base-200/50 group-data-sticky/header:bg-base-200/90! backdrop-blur-xs rounded-full border border-on-base/10 shadow-md shadow-black/3 transition-colors;
}

/* Absolute positioning */

@utility absolute-center {
  @apply absolute transform top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2;
}
@utility absolute-center-x {
  @apply absolute transform left-[50%] -translate-x-1/2;
}
@utility absolute-center-y {
  @apply absolute transform top-[50%] -translate-y-1/2;
}

/* Fixed positioning */

@utility fixed-center {
  @apply fixed transform top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2;
}
@utility fixed-center-x {
  @apply fixed transform left-[50%] -translate-x-1/2;
}
@utility fixed-center-y {
  @apply fixed transform top-[50%] -translate-y-1/2;
}

/* Hide scrollbar, but keep overflow auto */

@utility no-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome, Safari, Webkit */
    height: 0px;
    width: 0px;
  }
}

/* Hexagon clip path */

@utility clip-hexagon {
  clip-path: polygon(
    40% 7.67949%,
    43.1596% 6.20615%,
    46.52704% 5.30384%,
    50% 5%,
    53.47296% 5.30384%,
    56.8404% 6.20615%,
    60% 7.67949%,
    81.65064% 20.17949%,
    84.50639% 22.17911%,
    86.97152% 24.64425%,
    88.97114% 27.5%,
    90.44449% 30.6596%,
    91.34679% 34.02704%,
    91.65064% 37.5%,
    91.65064% 62.5%,
    91.34679% 65.97296%,
    90.44449% 69.3404%,
    88.97114% 72.5%,
    86.97152% 75.35575%,
    84.50639% 77.82089%,
    81.65064% 79.82051%,
    60% 92.32051%,
    56.8404% 93.79385%,
    53.47296% 94.69616%,
    50% 95%,
    46.52704% 94.69616%,
    43.1596% 93.79385%,
    40% 92.32051%,
    18.34936% 79.82051%,
    15.49361% 77.82089%,
    13.02848% 75.35575%,
    11.02886% 72.5%,
    9.55551% 69.3404%,
    8.65321% 65.97296%,
    8.34936% 62.5%,
    8.34936% 37.5%,
    8.65321% 34.02704%,
    9.55551% 30.6596%,
    11.02886% 27.5%,
    13.02848% 24.64425%,
    15.49361% 22.17911%,
    18.34936% 20.17949%
  );
}

@theme {
  --default-transition-duration: 400ms;

  --default-ring-width: 3px;

  --animate-slide-down: slide-down 250ms ease-out;
  @keyframes slide-down {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  --animate-slide-up: slide-up 200ms ease-out;
  @keyframes slide-up {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  --animate-progress-indeterminate: progress-indeterminate 1.75s infinite linear;
  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.3);
    }
    50% {
      transform: translateX(0) scaleX(0.35);
    }
    100% {
      transform: translateX(100%) scaleX(0.3);
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

/* Remove ugly highlight when interacting with some elements */

* {
  -webkit-tap-highlight-color: transparent;
}

/* Container */

.container {
  @apply xl:max-w-6xl flex flex-col;
}

/* Tooltips */

[data-tippy-root] {
  @apply max-w-[calc(100vw-10px)];
}

.tippy-box {
  @apply relative text-sm whitespace-normal outline-none transition-all bg-neutral text-on-neutral rounded-md;

  &[data-animation="fade"][data-state="hidden"] {
    @apply opacity-0;
  }

  .tippy-content {
    @apply relative z-10 px-3 py-1.5;
  }
}

/* nprogress */

#nprogress {
  @apply pointer-events-none;

  .bar {
    @apply fixed top-0 left-0 w-full h-0.75 z-3000 bg-accent;
  }
}
