---
import "virtual:windi.css"
import "~/styles/main.css"
import AppHeader from "~/components/ui/app-header"
import AppFooter from "~/components/ui/app-footer"

export interface Props {
  title?: string
  description?: string
  showBackButton?: boolean
}
const {
  title = "Gianni Tumedei",
  description = "My personal website",
  showBackButton = true
} = Astro.props as Props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Code&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <noscript>
      <style>
        .motion-1, .motion-2, .motion-3, .motion-4, .motion-5 {
          opacity: 1;
        }
      </style>
    </noscript>
    <AppHeader showBackButton={showBackButton} client:load />
    <main class="container relative max-w-4xl flex-grow flex flex-col px-6">
      <slot />
    </main>
    <AppFooter client:idle />
  </body>
</html>
