---
import AppHeader from "~/lib/layout/app-header"
import AppFooter from "~/lib/layout/app-footer"
import Root from "./root.astro"

export interface Props {
  title?: string
  description?: string
  showBackButton?: boolean
}
const { title, description, showBackButton = true } = Astro.props as Props
---

<Root title={title} description={description}>
  <AppHeader showBackButton={showBackButton} client:load />
  <main class="container relative max-w-4xl flex-grow flex flex-col px-6">
    <slot />
  </main>
  <AppFooter />
  <style>
    body {
      @apply min-h-screen;
    }
  </style>
</Root>
