---
import AppHeader from "./app-header"

export interface Props { showBackButton?: boolean }
const { showBackButton = true } = Astro.props as Props
---

<AppHeader showBackButton={showBackButton} client:load />
<main class="container relative max-w-4xl flex-grow flex flex-col p-6">
  <slot />
</main>
